<p class="name"><%= name %></p>
<div class="buttons">
    <a href="/play/male">
        <button id="mal">Male</button>
    </a>
    <a href="/play/female">
        <button id="fem">Female</button>
    </a>
</div>
<p><%= points %></p>