<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Base for Music</title>
        <!-- <link rel="stylesheet" href="css/style.css" /> -->
        <script type="text/javascript" src="button.js"></script>
    </head>
    <body>
        <h1>FindGender</h1>
        <%- include ("./content/"+content) %>
    </body>
</html>